<style>
  /* Style for the footer */
.fixed-footer {
  background-color: #333; /* Choose your desired background color */
  color: #fff; /* Text color */
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.fixed-footer a {
  color: #fff; /* Link color */
  text-decoration: none;
}

.fixed-footer a:hover {
  text-decoration: underline; /* Add an underline on hover for links */
}

</style>

<footer class="fixed-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-content text-center">
          <p>&copy; 2023 Your Website Name</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:meetsoni784@gmail.com">meetsoni784@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
