{{> header}}
 
 <html>
            <body >
              <div style="width:50%; margin:auto; margin-top:100px; background-color:white; border:1px solid black; color:green; padding:50px; text-align:center">
                <h1>Car Sales Information for InvoiceNo: {{data.searchInvoiceNo}}</h1>
                <h1>{{data.carSales}}</h1>
              </div>
            </body>
          </html>
{{> footer}}
